@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@keyframes slideshow {
  0% {
    left: 0;
  }

  100% {
    left: -200%;
  }
}